*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*::-webkit-scrollbar {
    display: none;
}

body {
    background-color: #6B728E;
}

.container {
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width:100%;
    background-color: #6B728E;
}

.calculator-wrapper {
    background-color: #404258;
    padding: 1rem;
    border-radius: 10px;
}

.calculator input[type="text"], button{
 border:0;
 width:70px;
 height:70px;
 margin:3px 3px;
 border-radius: 10px;
 font-size:25px;
 color:black;
}

.calculator input[type="text"] {
    width:310px; 
    border:none;
    outline:none;
    background-color: #404258;
    color:white;
    padding-right: 10px;
    text-align:end;
    font-size:25px;

}

.calculator button:hover {
    background-color: rgba(171, 175, 220, 0.764);
}

.bottom-btn {
    width:146px;
}

#history{
    position: relative;
    width: 350px;
    margin-left: 20px;
    border-radius: 10px;
    padding-bottom: 30px;
    text-align:center;
    background-color: #404258;
    height: 565px;
    color:white;
    opacity: 0.8;
    display: none;
    overflow: scroll;
}
#history h1 {
    padding: 20px 0px 10px 0px;
    background-color: #404258;
    position: -webkit-sticky;
    position: sticky;
    top:0;
}


#history p {
    padding-top: 20px;
    font-size: 25px;
} 
@media screen and (max-width: 800px){
    .container{
    flex-direction: column;
    gap:20px;
    height:auto;
    padding: 60px 0px;
    }
    #history{
        margin-left: -2px;

    }
}